.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.action-info {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 93%;
  margin-left: 4%;
  margin-top: 0.8%;
  /*margin-right: 1%;*/
}

.action-failed-result {
  border: 2px solid #ff0000;
  width: 92.7%;
  margin-left: 3.8%;
  margin-top: 0.8%;
}

.expansion-body {
  background: #eae8e8;
  box-shadow: none;
  margin-right: 10px;
}

.test-case-title {
  display: flex;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 35px;

  color: rgba(0, 0, 0, 0.87);
}

.test-case-info {
  display: flex;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 97%;
}

mat-expansion-panel-header {
  margin: 0;
}

.more {
  color: rgba(0, 0, 0, 0.54);
}

.action-header {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87)
}

.action-name {
  display: flex;
  align-items: center;
}

.test-case-info {
  background: #F4F2FF;
}

.passed {
  color: #4CAF50;
  margin-right: 7px;
}

.failed {
  color: #F44336;
  margin-right: 7px;
}

.stopped {
  color: #FF9800;
  margin-right: 7px;
}

.not_started {
  color: #9E9E9E;
  margin-right: 7px;
}

.in_progress {
  color: #2196F3;
  margin-right: 7px;
}

table, th, td {
  padding-bottom: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 10px;
}

.sql-table, .parameters-table {
  border-collapse: collapse;
  table-layout: fixed;
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.table-view {
  display: flex;
  width: 95%;
}

.sql-table-inner {
  border-collapse: collapse;
}

.sql-tr-td, .parameters-tr-td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  left: 5px;
  width: 0.1%;
}

.sql-tr-td-inner {
  display: flex;
  text-align: left;
  margin-left: 5px;
}

.table-info {
  width: 90%;
}

.column-name {
  width: 20%;
  min-width: 150px;
}

.second-column {
  color: rgba(0, 0, 0, 0.6);
  width: 80%;
  padding-right: 10px;
  padding-left: 0;
}

.desc-column {
  display: flex;
  width: 150px;
}

.desc-second {
  width: 60%;
  min-width: 200px;
  color: rgba(0, 0, 0, 0.6);
}
