<div class="library-menu-background">
  <div class="menu-grid">
    <a routerLink="/libraries-menu/libraries/create" class="rectangle-85 new-library">
      <span class="material-icons chrome_reader_mode">chrome_reader_mode</span>
      <label class="rectangle-description">new library</label>
    </a>
    <a routerLink="/libraries-menu/libraries" class="rectangle-85 search-library">
      <span class="material-icons search">search</span>
      <label class="rectangle-description">search library</label>
    </a>
    <a class="rectangle-85 actions">
      <span class="material-icons featured_play_list">featured_play_list</span>
      <label class="rectangle-description">actions</label>
    </a>
    <a class="rectangle-85 compounds">
      <span class="material-icons description">description</span>
      <label class="rectangle-description">compounds</label>
    </a>
  </div>
</div>
