<mat-card class="test-case-list">

  <div class="search-test-case">

    <button mat-icon-button class="filter-button" (click)="openCreateDialog()" >
      <span class="material-icons filter">filter_alt</span>
      Create
    </button>

    <mat-form-field appearance="outline">
      <mat-label>Search test cases</mat-label>
      <input class="input-search" matInput type="text" id="searchProject" [(ngModel)]="testCaseFilter.testCaseName"
             (keyup)="searchTestCases($event)">
    </mat-form-field>

  </div>


  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="NAME">
      <mat-header-cell *matHeaderCellDef class="header">NAME</mat-header-cell>
      <mat-cell *matCellDef="let element"><a> {{element.name}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="DESCRIPTION">
      <mat-header-cell *matHeaderCellDef class="header">DESCRIPTION</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SCENARIO">
      <mat-header-cell *matHeaderCellDef class="header">TEST-SCENARIO</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DATASET">
      <mat-header-cell *matHeaderCellDef class="header">DATASET</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngFor="let datasets of element.dataSetResponseList" >
          <a [routerLink]="'/projects-menu/datasets'">{{datasets.name}}</a>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EDIT">
      <mat-header-cell *matHeaderCellDef mat-sort-header> EDIT </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                                   color="primary" (click)="openUpdateDialog(element.id)">
        <mat-icon>edit</mat-icon>
      </button> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DELETE">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DELETE </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                                                   color="primary" (click)="deleteCase(element.id)">
        <mat-icon>delete</mat-icon>
      </button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator class="header"
                 [pageSizeOptions]="pageSizeOptions"
                 [length]="testCasesCount"
                 [pageSize]="testCaseFilter.pageSize"
                 (page)="pageEvent = $event; onPaginateChange($event)">

  </mat-paginator>
</mat-card>
