<div class="login-form-flex">
  <mat-card class="content">
    <div class="logo">
      <img [src]="image" class="logo-img" alt="Logo">
    </div>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="recoveryForm">
        <div class="more-info">
          Write your new password in the fields below. Your password must be at least 8 symbols long (maximum 32
          symbols), contain at least one letter in upper and lower cases, one number and one special symbol.
        </div>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>new password</mat-label>
          <input matInput [type]="hideNewPasswordField ? 'password' : 'text'" id="password" class="form-control"
                 name="password"
                 formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>

          <mat-icon matSuffix (click)="hideNewPasswordField = !hideNewPasswordField">
            {{hideNewPasswordField ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error *ngIf="submitted && f.password.errors" class="invalid-input">
            <mat-error *ngIf="f.password.errors.required">Field is required</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>confirm password</mat-label>
          <input matInput [type]="hideConfirmPasswordField ? 'password' : 'text'" id="passwordConfirm"
                 class="form-control"
                 name="passwordConfirm"
                 formControlName="passwordConfirm"
                 [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors && comparePasswords }" required>

          <mat-icon matSuffix (click)="hideConfirmPasswordField = !hideConfirmPasswordField">
            {{hideConfirmPasswordField ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error *ngIf="submitted && f.password.errors && comparePasswords" class="invalid-input">
            <mat-error *ngIf="f.password.errors.required">Field is required</mat-error>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="button-flex-container">
          <p class="button-text">
            SEND
          </p>
        </button>
        <div class="more-info">
          Don’t have an account?<a class="btn btn-outline-primary" style="width: 50%" routerLink="/register"> Contact
          your administrator. </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
