.test-case-info-card {
  width: 28%;
  margin-top: 20px;
  margin-left: 1%;
  min-height: 300px;
  overflow-y: auto;
}

.result-list-card {
  width: 70%;
  margin-top: 20px;
  min-height: 300px;
  margin-right: 1%;
  overflow-y: auto;
}
.test-case-analyze {
  min-height: 500px;
}
