.more-info {
  text-align: center;
  margin-top: 10px;
}

.logo-img {
  height: 20%;
  width: 20%;
}

.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}

.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.logo, mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

#input {
  border-radius: 3.5px;
  position: absolute;
  height: 24px;
  left: 16px;
  right: 221px;
  top: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.button-flex-container {
  background: #5C6BC0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.button-text {
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

mat-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
