<div class="select-env">

  <h2 class="header">Select Environment</h2>

  <mat-dialog-content class="mat-select-env">

    <form (ngSubmit)="onSubmit()">

      <div class="test-case-name">{{data.testCaseName}}</div>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Environment</mat-label>
        <mat-select [(ngModel)]="selectedEnv" [ngModelOptions]="{standalone:true}" required>
          <mat-option *ngFor="let en of data.environments" [value]="en.id">
            {{en.url}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="button-flex-container">
        <p class="button-text">SUBMIT</p>
      </button>
    </form>
  </mat-dialog-content>
</div>
