.card {
  height: 100%;
  width: 70%;
  margin: 50px auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

form {
  width: 100%;
}

.header {
  background-color: #F4F2FF;
  color: #5C6BC0;
  align-items: flex-start;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: flex-start;
}

.button-flex-container {
  margin-top: 3px;
  margin-left: 100px;
  height: 60px;
  background: #5C6BC0;
}

.button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.mat-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
}

.mat-column-NAME {
  flex: 0 0 40%;
}

.mat-column-DESCRIPTION {
  padding-left: 5%;
  padding-right: 0;
}

.mat-column-CONF {
  flex: 0 0 5%;
  padding-right: 0;
  align-items: flex-end;
}

.mat-cell {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* Fonts/Primary */
  color: #25213B;
}

.mat-cell.description-column {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;

  color: #4F4F4F;
}

.mat-menu-delete-button {
  color: #711313;
}

.description-input-disabled {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;

  background: #F4F2FF;

  border-radius: 5px;
}

.description-input-disabled-span {
  margin: 5px;
}

.mat-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;

}

.header-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  padding-left: 3.5%;
}

