<div class="project-menu">
  <div class="menu-grid-high">
    <a routerLink="/projects-menu/projects/create" class="rectangle-85 new-project">
      <span class="material-icons content_paste">
        content_paste
      </span>
      <label class="rectangle-description">
        new project
      </label>
    </a>
    <a routerLink="/projects-menu/projects" class="rectangle-85 search-project">
      <span class="material-icons-outlined search">
        search
      </span>
      <label class="rectangle-description">
        search project
      </label>
    </a>
    <a routerLink="" class="rectangle-85 results">
      <span class="material-icons-outlined assignment_turned_in">
        assignment_turned_in
      </span>
      <label class="rectangle-description">
        results
      </label>
    </a>
  </div>
  <div class="menu-grid-low">
    <a routerLink="/projects-menu/scenarios" class="rectangle-85 test-scenario">
      <span class="material-icons-outlined assignment">
        assignment
      </span>
      <label class="rectangle-description">
        test scenario
      </label>
    </a>
    <a routerLink="/projects-menu/datasets" class="rectangle-85 dataset">
      <span class="material-icons-outlined book">
        book
      </span>
      <label class="rectangle-description">
        data set
      </label>
    </a>
  </div>
</div>
