.library-new-form {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 50px auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  font-size: 35px;
  text-transform: uppercase;
  margin: 30px;
  color: #5C6BC0;
}

.mat-card-content {
  display: flex;
  justify-content: center;
  width: 84%;
  margin: 8%;
}

.mat-card-content > *{
  display: flex;
  justify-content: flex-start;
  width: 84%;
}

.chrome_reader_mode {
  font-size: 125px;
  color: #5C6BC0;
}

.lib-title-container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  height: 100%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;

  /* identical to box height, or 109% */
  letter-spacing: 0.15px;

  color: #4F4F4F;
}

.mat-label {

}

.mat-form-field {
  font-size: 12px;
  width: 100%;
  margin-left: 2%;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-error {
  font-size: 12px;
}

.component-table {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 84%;
  margin-left: 8%;
  background: #F4F2FF;
}

.content {
  display: flex;
  flex-direction: row;
}


.grid-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #D9D5EC;
  height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #5C6BC0;
}

.grib-sub-header {
  display: flex;
  justify-content: center;
  width: 50%;
}

.tile-label-wrapper {
  width: 100%;
  height: 80%;
}

.tile-label {
  margin: 2%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: rgba(79, 79, 79, 0.6);
}

.compound-tile-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 95%;
  min-height: 80px;
  width: 100%;
  background: #F4F2FF;
}

.component-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.description-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 24px;
}

.description-input {
  pointer-events: all;
  width: auto;
}


.mat-accordion {
  width: 100%;
}

.mat-expansion-panel {
  width: 100%;
  color: #5C6BC0;
}

.add_circle_outline {
  font-size: 20px;
  color: #5C6BC0;
  justify-self: flex-end;
}

.button-flex-container {
  background: #5C6BC0;
  height: 50px;
  width: 84.5%;
  margin-left: 8%;
  margin-bottom: 8%;
  margin-top: 13%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #FFFFFF;
}

