<mat-toolbar>
  <button mat-icon-button>
    <img [src]="image" class="logo-img" alt="Logo">
  </button>
  <b><span class="project-name">ProTester</span></b>

  <nav mat-tab-nav-bar class="toolbar-buttons" *ngIf="user">
    <a mat-tab-link class="projects_button" *ngFor="let link of links"
       (click)="activeLink = link"
       [routerLink]="link.link"
       [active]="activeLink == link"> {{link.label}} </a>
  </nav>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu" *ngIf="user" class="menu-buttons">
    <mat-icon class="menu-buttons-item">keyboard_arrow_down</mat-icon>
    <mat-icon class="menu-buttons-item">perm_identity</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Profile</span>
    </button>
    <button mat-menu-item *ngIf="isAdmin" routerLink="account/users">
      <span>Users</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span>Sign out</span>
    </button>
  </mat-menu>

</mat-toolbar>
