::ng-deep .mat-toolbar {
  background: #F2F2F2;
}

.example-spacer {
  flex: 1 1 auto;
  background: #F2F2F2;
}

.project-name {
  margin-left: 10px;

  width: 104px;
  height: 24px;
  left: 72px;
  top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #4F4F4F;
}

.logo-img {
  height: 90%;
  width: 120%;
}

button {
  margin-bottom: 10px;
  margin-right: 15px;
}


