<div class="update-form">

  <mat-dialog-content class="mat-update">

    <form (ngSubmit)="onSubmit()" [formGroup]="envUpdateForm">

      <mat-card-title>
        <span class="header-title"> Update Environment </span>
      </mat-card-title>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" class="form-control" name="name" formControlName="name"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
        <mat-error *ngIf="submitted && f.name.errors" class="invalid-input">
          <mat-error *ngIf="f.name.errors.minLength">Min length is 4</mat-error>
          <mat-error *ngIf="f.name.errors.maxLength">Max length is 50</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" id="description" class="form-control" name="description" formControlName="description"
               [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
        <mat-error *ngIf="submitted && f.description.errors" class="invalid-input">
          <mat-error *ngIf="f.description.errors.minLength">Min length is 4</mat-error>
          <mat-error *ngIf="f.description.errors.maxLength">Max length is 50</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" id="username" class="form-control" name="username" formControlName="username"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
        <mat-error *ngIf="submitted && f.username.errors" class="invalid-input">
          <mat-error *ngIf="f.username.errors.minLength">Min length is 4</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="text" id="password" class="form-control" name="password" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
        <mat-error *ngIf="submitted && f.password.errors" class="invalid-input">
          <mat-error *ngIf="f.password.errors.minLength">Min length is 4</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Url</mat-label>
        <input matInput type="text" id="url" class="form-control" name="url" formControlName="url"
               [ngClass]="{ 'is-invalid': submitted && f.url.errors }" required>
        <mat-error *ngIf="submitted && f.url.errors" class="invalid-input">
          <mat-error *ngIf="f.url.errors.minLength">Min length is 4</mat-error>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="button-flex-container">
        <p class="button-text">UPDATE</p>
      </button>

    </form>
  </mat-dialog-content>
</div>
