.menu-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11.4vw 18.4vw;
  position: relative;
  margin-top: 10%;
  margin-bottom: 30.5%;
  left: 23.8%;
  width: 53%;
  height: 44%;

}

.rectangle-85 {
  position: relative;
  display: flex;
  justify-content: center;

  width: 228px;
  height: 159px;
  background: rgba(255, 255, 255, 0.12);
  border: 6px solid #5C6BC0;
  box-sizing: border-box;
  border-radius: 18px;
}

.rectangle-description {
  position: absolute;
  height: 16px;
  left: 0px;
  right: 0px;
  top: calc(50% - 16px / 2 + 52.5px);

  /* Button */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height, or 114% */
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #5C6BC0;
}

.chrome_reader_mode {
  font-size: 125px; /* Preferred icon size */
  position: absolute;
  align: center;

  color: #5C6BC0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.search {
  font-size: 125px; /* Preferred icon size */
  position: absolute;
  align: center;

  color: #5C6BC0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.featured_play_list{
  font-size: 125px;  /* Preferred icon size */
  position: absolute;
  align: center;

  color: #5C6BC0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.description{
  font-size: 105px;  /* Preferred icon size */
  position: absolute;
  align: center;
  margin-top: 5%;

  color: #5C6BC0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons {
}
