.dataset-create-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.mat-row:nth-child(even) {
  background-color: #FFFFFF;
}

.mat-row:nth-child(odd) {
  background-color: #F4F2FF;
}

.header {
  background-color: #F4F2FF;
}

.mat-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-column-NAME {
  flex: 0 0 46%;
}

.mat-column-VALUE {
  flex: 0 0 46%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.invalid-input {
  margin-bottom: 10px;
}

.button-text {
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-flex-container {
  background: #5C6BC0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-flex-container-add {
  background: #5C6BC0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

::ng-deep .mat-dialog-content {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.error-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
