<a [routerLink]="'/projectMenu'" class="navigation">
  <span class="material-icons navigation">navigate_before</span>
</a>

<div class="project-create-form-flex">
  <mat-card class="content">
    <div class="logo">
      <span class="material-icons icon">content_paste</span>
    </div>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="projectCreateForm">

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Project name</mat-label>
          <input matInput type="text" id="projectName" class="form-control" name="projectName"
                 formControlName="projectName"
                 [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }" required>
          <mat-error *ngIf="submitted && f.projectName.errors" class="invalid-input">
            <mat-error *ngIf="f.projectName.errors.minLength">Min length is 4</mat-error>
            <mat-error *ngIf="f.projectName.errors.maxLength">Max length is 50</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Project link</mat-label>
          <input matInput type="text" id="projectWebsiteLink" class="form-control" name="projectWebsiteLink"
                 formControlName="projectWebsiteLink"
                 [ngClass]="{ 'is-invalid': submitted && f.projectWebsiteLink.errors }" required>
        </mat-form-field>

        <mat-error *ngIf="isFailed" class="error-info">
          Prject name or link already exists!
        </mat-error>

        <button mat-raised-button class="button-flex-container">
          <p class="button-text">CREATE</p>
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
