<div class="update-form">

  <mat-dialog-content class="mat-update">

    <form (ngSubmit)="onSubmit()" [formGroup]="testCaseUpdateForm">
      <h1>Edit Test Case</h1>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>TestCase name </mat-label>
        <input matInput type="text" id="name" class="form-control" name="name"
               formControlName="name"
               [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>TestCase description </mat-label>
        <input matInput type="text" id="description" class="form-control" name="description"
               formControlName="description"
               [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Test scenarios</mat-label>
        <mat-select [(value)]="testScenario" formControlName="scenarioId">
          <mat-option *ngFor="let scenario of testScenario">{{scenario.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="error-info">
        <mat-error *ngIf="isFailed">
          Project name or link already exists
        </mat-error>
      </div>

      <button mat-raised-button class="button-flex-container">
        <p class="button-text">UPDATE</p>
      </button>

    </form>
  </mat-dialog-content>
</div>
