<div class="update-form">

  <mat-dialog-content class="mat-update">

    <form (ngSubmit)="onSubmit()" [formGroup]="projectUpdateForm">

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Project name</mat-label>
        <input matInput type="text" id="projectName" class="form-control" name="projectName"
               formControlName="projectName"
               [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }" required>
        <mat-error *ngIf="submitted && f.projectName.errors" class="invalid-input">
          <mat-error *ngIf="f.projectName.errors.minLength">Min length is 4</mat-error>
          <mat-error *ngIf="f.projectName.errors.maxLength">Max length is 50</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Project link</mat-label>
        <input matInput type="text" id="projectWebsiteLink" class="form-control" name="projectWebsiteLink"
               formControlName="projectWebsiteLink"
               [ngClass]="{ 'is-invalid': submitted && f.projectWebsiteLink.errors }" required>
      </mat-form-field>

      <div class="isActiveSelect">
        <mat-radio-group formControlName="projectActive" class="selectActive" name="projectActive" required>
          <mat-radio-button class="selectActive" [value]="true">Active</mat-radio-button>
          <mat-radio-button class="selectActive" [value]="false">Not active</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="submitted && f.projectActive.errors" class="invalid-input">
          <mat-error *ngIf="f.projectActive.errors.required">Field is required</mat-error>
        </mat-error>
      </div>

      <div class="error-info">
        <mat-error *ngIf="isFailed">
          Project name or link already exists
        </mat-error>
      </div>

      <button mat-raised-button class="button-flex-container">
        <p class="button-text">UPDATE</p>
      </button>

    </form>
  </mat-dialog-content>
</div>
