.dataset-update-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .mat-dialog-content {
  width: 100%;
  height: 60%;
  overflow: auto;
  display: block;
  margin: 0 0;
  padding: 0 24px;
  max-height: 65vh;
}

::ng-deep .mat-input-element {
  caret-color: #5C6BC0;
}

mat-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.mat-row:nth-child(even) {
  background-color: #FFFFFF;
}

.mat-row:nth-child(odd) {
  background-color: #F4F2FF;
}

.header {
  background-color: #F4F2FF;
}

.header-title {
  text-transform: uppercase;
  color: #5C6BC0;
  line-height: 16px;
  letter-spacing: 1px;
  display:table;
  margin:12px auto;
  font: 500 35px Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-column-NAME {
  flex: 0 0 45%;
}

.mat-column-VALUE {
  flex: 0 0 45%;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 0;
  padding-left: 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.cell-field {
  text-align: center;
  justify-content: center;
}

.invalid-input {
  margin-bottom: 10px;
}

.button-text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-flex-container {
  background: #5C6BC0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-flex-container-add {
  background: #5C6BC0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.error-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  color: #5C6BC0;
}

