<a [routerLink]="'/actions'" class="navigation">
  <span class="material-icons navigation">navigate_before</span>
</a>


<mat-card class="action-list">

  <div class="search-action">

    <button mat-icon-button class="filter-button" [matMenuTriggerFor]="menu">
      <span class="material-icons filter">filter_alt</span>
      Filter
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="FilterIsActive('')" mat-menu-item>All</button>
      <button (click)="FilterIsActive('SQL')" mat-menu-item>SQL</button>
      <button (click)="FilterIsActive('REST')" mat-menu-item>REST</button>
      <button (click)="FilterIsActive('UI')" mat-menu-item>UI</button>
      <button (click)="FilterIsActive('TECHNICAL')" mat-menu-item>TECHNICAL</button>
    </mat-menu>

    <mat-form-field appearance="outline">
      <mat-label>Search project</mat-label>
      <input class="input-search" matInput type="text" id="searchProject" [(ngModel)]="actionFilter.actionName"
             (keyup)="onFilterChange($event)">
    </mat-form-field>

  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- First Column ID-->
    <ng-container matColumnDef="NAME">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Second Column -->
    <ng-container matColumnDef="DESCRIPTION">
      <mat-header-cell *matHeaderCellDef > DESCRIPTION </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Fourth Column -->
    <ng-container matColumnDef="TYPE">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type }} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="EDIT">
      <mat-header-cell *matHeaderCellDef mat-sort-header> EDIT </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                                   color="primary" (click)="openUpdateDialog(element.id)">
        <mat-icon>edit</mat-icon>
      </button> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator class="header"
                 [pageSizeOptions]="pageSizeOptions"
                 [length]="actionsCount"
                 [pageSize]="actionFilter.pageSize"
                 (page)="pageEvent = $event; onPaginateChange($event)">

  </mat-paginator>
</mat-card>
