<div class="library-new-form">
  <mat-card class="card">
    <mat-card-title>
      <span class="material-icons chrome_reader_mode">chrome_reader_mode</span>
    </mat-card-title>
    <div class="mat-card-content">
      <div class="lib-title-container">
        <mat-label class="lib-name">Name:</mat-label>
        <mat-label class="description-text"> {{library.name}} </mat-label>
      </div>
      <div class="lib-title-container">
        <mat-label class="lib-description">Description:</mat-label>
        <mat-label class="description-text"> {{library.description}} </mat-label>
      </div>
      <div class="component-table">
        <div class="grid-header">
          <div class="grib-sub-header actions-tile">
            <p>ACTIONS</p>
          </div>
          <div class="grib-sub-header">
            <p>COMPOUNDS</p>
          </div>
        </div>
        <div class="content">
          <div class="compound-tile-inner actions-tile">
            <div *ngIf="actions.length == 0" class="tile-label-wrapper">
              <mat-label class="tile-label"> Add actions</mat-label>
            </div>
            <div class="component-container">
              <mat-accordion *ngIf="actions.length > 0">
                <mat-expansion-panel hideToggle *ngFor="let component of actions">
                  <mat-expansion-panel-header>
                    <mat-panel-title color="#5C6BC0">
                      {{component.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{component.description}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>

          <div class="compound-tile-inner">
            <div *ngIf="compounds.length == 0" class="tile-label-wrapper">
              <mat-label class="tile-label"> Add compounds</mat-label>
            </div>
            <div class="component-container">
              <mat-accordion *ngIf="compounds.length > 0">
                <mat-expansion-panel hideToggle *ngFor="let component of compounds">
                  <mat-expansion-panel-header>
                    <mat-panel-title color="#5C6BC0">
                      {{component.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{component.description}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" mat-raised-button class="button-flex-container" (click)="goToEdit(library_id)">
        <p class="button-text">EDIT LIBRARY</p>
      </button>
    </div>
  </mat-card>
</div>
