.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.step-info {
  width: 100%;
}

.passed {
  color: #4CAF50;
}

.failed {
  color: #F44336;
}

.stopped {
  color: #FF9800;
}

.not_started {
  color: #9E9E9E;
}

.in_progress {
  color: #2196F3;
}

.node_text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 2%;
}

.action-list {
  padding-left: 10%;
}

.more {
  color: rgba(0, 0, 0, 0.54);
}
