table {
  width: 100%;
}

.test-case-run {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

mat-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}


.mat-row:nth-child(even) {
  background-color: #FFFFFF;
}

.mat-row:nth-child(odd) {
  background-color: #F4F2FF;
}

.header {
  background-color: #F4F2FF;
}

.mat-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-column-NAME {
  flex: 0 0 20%;
}

.mat-column-DESCRIPTION {
  flex: 0 0 30%;
}

.mat-column-SCENARIO {
  flex: 0 0 20%;
}

.mat-column-DATASET {
  width: auto;
}

.mat-column-select {
  flex: 0 0 5%;
  padding-left: 0;
}

.search-test-case {
  display: flex;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.filter-button {
  background: #FFFFFF;
  border: 1px solid rgba(92, 107, 192, 0.54);
  box-sizing: border-box;
  border-radius: 6px;
  width: 12%;
  height: 50px;
  margin-top: 0.5%;
}


.filter {
  font-size: 200%;
  color: #5C6BC0;
}

.mat-form-field {
  width: 50%;
  height: 4%;
}

#input {
  border-radius: 3.5px;
  position: absolute;
  height: 24px;
  left: 16px;
  right: 221px;
  top: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.run {
  color: #2196F3;
}
